body {
    background-color: lightslategray;
}

.row {
    margin-bottom: 7%;
}

#navBarContainter {
    position: fixed;
    width: 100%;
    z-index: 12;
}

#w-uw-Toggle {
    text-align: center;
    width: 100%;
    // padding-top: 5%;
    // padding-bottom: 20px;
    margin-top: 200px;
}

#searchInput {
    margin: auto;  
}

.moovie {
    margin-bottom: 20px;
    display: flex;
}

#foooter {
    color: white;
}

#footerStoof{
    margin: auto;
}

#rateYo {
    margin: auto;
    z-index: 0;
}

.card {
    align-items: center;
    padding: 12px,;
    min-width: 180px;
    background-color: darkslategray;

}

#card-link {
    margin: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
}

svg {
    z-index: 0;
}

.unwatched {
    display: none; 
}


.hidden {
    display: none;
  
body {
    background-image: url("http://www.publicdomainpictures.net/pictures/30000/velka/film-background-1334067655hUG.jpg");
}

#navBarContainter {
    color: white;
}

.btn-outline-primary {
    color: maroon;
    background-color: transparent;
    background-image: none;
    border-color: maroon;
}

.btn-outline-primary:disabled {
    color: maroon;
    background-color: transparent;

}